.DS_Store
bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/testDir/


# User-specific stuff
.idea/**/workspace.xml
.idea/**/usage.statistics.xml
.idea/**/tasks.xml
.idea/dictionaries
.idea/shelf
.idea/**/*DotSettings.user
.idea/**/JetClient/state.xml
# Sensitive or high-churn files
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/gradle.xml
.idea/**/libraries
